<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookapptest2">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookAppTest2">
        <activity
            android:name=".PDFDetailUser"
            android:exported="false" />
        <activity
            android:name=".PDFListUser"
            android:exported="true" />
        <activity
            android:name=".PDFViewActivity"
            android:exported="true" />
        <activity
            android:name=".PDFDetailActivity"
            android:exported="true" />
        <activity
            android:name=".PDFEditActivity"
            android:exported="true" />
        <activity
            android:name=".PDFListAdminActivity"
            android:exported="true" />
        <activity
            android:name=".AddPDFActivity"
            android:exported="true" />
        <activity
            android:name=".AddCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardAdminActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardUserActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>